*{
	padding: 0;
	margin: 0;	
}

/*div {
	height: 100vh;
}*/

body {
	height: 100%;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,h2, {
	margin: 0;
	font-weight: 700;
}

h1 {
	font-size: 100px;
	color: #ECF0F1 ;
}

h2 {
	font-size: 36px;
	color : white;
}

.Main{
	background : url(../images/background.jpg);
	background-position:center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

}

p {
	font-size: 15px;
	font-variant: small-caps;
	color: White;
	font-family: 'Ibarra Real Nova', serif;
	margin: 25px 50px 75px;
	line-height: 2.5;
	font-weight: 900;
}

/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}*/

/*.h1 {
	font-size: 50px;
	color: #D61128;
	font-family: 'Oswald', sans-serif;
}*/

/*.home > div > h1 {
	color:#BC2121;
}*/

.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 600;
	min-width: 164px;
	padding: 21px 47px;
	border-radius: 50px;
	text-transform: uppercase;
	background: #10ddb4;
	color: #161616;
	line-height: 1;
	cursor: pointer;
	text-align: center;
}

.site-btn:hover {
	color: #161616;
}

.about {
	height:100vh;
	display:flex;
}

/*.navbar-list a {
	text-decoration: none;
}*/
/*a:hover,
a:focus {
	text-decoration: none;
	outline: none;
*/
.navbar {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(73,17,150,0.258140756302521) 66%, rgba(0,212,255,1) 100%);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0px;
	font-family: 'Ibarra Real Nova', serif;
}

.navbar > a {
	text-decoration: none;
	color:  #FFFFFF;
	margin-left: 20px;
	font-size: 28px;
	font-weight: 800;
}

.navbar-list > li{
	display: inline-block;
	font-family: 'Ibarra Real Nova', sans-serif;
	margin: 0 10px;
}

.navbar-list > li > a{
	color: #ADEFD1FF;
}

.navbar-list {
	margin-right: 20px;
}

.Info-Container {
	background: url(../images/background2.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -50px;	
}

.Left {
	width: 50%;
	margin: 0 20px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.Chess-desc{
	margin: 0 50px;
	color: white;
	font-weight: 500;
}

.Chess {
	color: Yellow;
	font-size: 14 px;
	font-weight: 700;
}

.Chess-Desc > p {
	font-size: 14px;
	color: white;
	font-family: 'Raleway', sans-serif;
}

q {
    font-style: italic;
    font-size: 14px;
	font-variant: small-caps;
	color:	Yellow ;
	font-family: 'Ibarra Real Nova', serif;
	margin: 50px 50px 75px;
	line-height: 2.5;
	font-weight: 900;

}

.Right {
	width: 50%;
	margin: 0 30px;
	text-align: center;
}

.img-div {
	display: flex;
	justify-content: center;
}

.img-desc {
	margin: 0 50px;
	color: brown;
	font-weight: 800;
}

.aboutME {
	background: url(../images/8.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-color: burlywood;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
}

.profile {
	height: 250px;
	width: 250px;
	border-radius: 50%;
}

.about-me {
	font-size: 25px;
	margin-top: 10px;
	color: #36454f;
	font-weight: 900;
}

.gallery {
	height: 100vh;
	background: url(../images/9.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.gallery-photos {
	margin-top: 20px;
}

.gallery-photos > img {
	transition: 0.5s;
}

.gallery-photos > img:hover {
	transform: scale(1.25);
}

.contact {
	height: 100vh;
	background: url(../images/10.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
form {
	width: 50%;
	align-items: center;
}

.formContents, .contact-message {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-input	{
	display: block;
	width: 100%;
	border-radius: 10px;
	font-size: 18px;
	margin: 10px 0;
}

.contact-message {
	margin: 0 100px;
}

.contact-message > p {
	margin: 0 100px;
	text-align: center;
	color: white;
	font-weight: 900;
}